<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">
	<h:head>
	</h:head>
	<composite:interface/>
	<composite:implementation>
		<h:form>
			<h:panelGrid columns="1">
				<p:outputPanel id="defaultMenuPanel">
					<c:forEach var="filter"
						items="#{filterController.defaultOptionFilters}">
						<p:selectCheckboxMenu id="chkBox_#{filter.filterName}"
							label="#{filter.filterName}:#{filter.filterText}" value="#{filter.values}"
							filter="true" filterText="Filter" filterMatchMode="startsWith">
							<f:selectItems var="option" value="#{filter.options}"
								itemLabel="#{option.name}" itemValue="#{option.id}" />
							<p:ajax partialSubmit="true" event="change"
								listener="#{filterController.testSubmit}" update="filterNameValue,chkBox_#{filter.filterName}" process="@form"></p:ajax>
							<p:ajax partialSubmit="true" event="toggleSelect"
								listener="#{filterController.testSubmit}" update="filterNameValue,chkBox_#{filter.filterName}" process="@form"></p:ajax>
						</p:selectCheckboxMenu>
					</c:forEach>
					<c:forEach var="filter"
						items="#{filterController.defaultDateFilters}">
						<p:selectCheckboxMenu id="chkBox_#{filter.filterName}"
							label="#{filter.filterName}"
							value="#{filterController.dummyVal}" filter="true"
							filterText="Filter" filterMatchMode="startsWith"
							panelStyle="max-width: 5px; max-height:5px;"
							onShow="dlg_#{filter.filterName}.show()">
							<f:selectItems var="filter" value="#{filterController.moreFilters}"
								itemLabel="#{filter.filterName}" itemValue="#{filter.filterName}" />
						</p:selectCheckboxMenu>
					</c:forEach>
					<p:selectCheckboxMenu id="chkBox_more" label="More..."
						value="#{filterController.chosenMoreFilters}" filter="true"
						filterText="Filter" filterMatchMode="startsWith">
						<f:selectItems var="filter" value="#{filterController.moreFilters}"
							itemLabel="#{filter.filterName}" itemValue="#{filter.filterName}"/>
						<f:ajax event="toggleSelect" immediate="true" listener="#{filterController.moreCheckboxChecked}" render="moreOptionPanel"/>
						<f:ajax event="change" immediate="true" listener="#{filterController.moreCheckboxChecked}" render="moreOptionPanel"/>
					</p:selectCheckboxMenu>
					<p:outputPanel id="moreOptionPanel">
						<c:forEach var="filter"
							items="#{filterController.moreOptionFilters}">
							<p:selectCheckboxMenu id="chkBox_#{filter.filterName}"
								label="#{filter.filterName}:#{filter.filterText}" value="#{filter.values}" style="#{filter.styleClass}"
								filter="true" filterText="Filter" filterMatchMode="startsWith" widgetVar="chkBoxMenu_more_#{filter.filterName}">							
								<f:selectItems var="option" value="#{filter.options}"
									itemLabel="#{option.name}" itemValue="#{option.id}" />
									<p:ajax partialSubmit="false" event="change"
										update="filterNameValue,chkBox_#{filter.filterName}" listener="#{filterController.moreCheckboxChecked}" process="@form"></p:ajax>
									<p:ajax partialSubmit="false" event="toggleSelect"
										update="filterNameValue,chkBox_#{filter.filterName}" listener="#{filterController.moreCheckboxChecked}" process="@form"></p:ajax>								
							</p:selectCheckboxMenu>
						</c:forEach>
						<c:forEach var="filter"
							items="#{filterController.moreDateFilters}">
							<p:selectCheckboxMenu id="chkBox_#{filter.filterName}"
								label="#{filter.filterName}" style="#{filter.styleClass}"
								value="#{filterController.dummyVal}" filter="true"
								filterText="Filter" filterMatchMode="startsWith"
								panelStyle="max-width: 5px; max-height:5px;"
								onShow="dlg_#{filter.filterName}.show()" widgetVar="chkBoxMenu_more_#{filter.filterName}">
								<f:selectItems var="filter"
									value="#{filterController.moreFilters}"
									itemLabel="#{filter.filterName}" itemValue="#{filter.filterName}" />
							</p:selectCheckboxMenu>
						</c:forEach>
					</p:outputPanel>
				</p:outputPanel>
			</h:panelGrid>
			<c:forEach var="filter" items="#{filterController.defaultDateFilters}">
				<p:dialog id="dialog_#{filter.filterName}"
					widgetVar="dlg_#{filter.filterName}" resizable="false"
					header="#{filter.filterName} Filter Definition" modal="true">
					<p:messages autoUpdate="true" />
					<p:selectOneRadio id="customRadio_#{filter.filterName}"
						value="#{filter.choice}" layout="custom">
						<f:selectItem itemLabel="Option 1" itemValue="withinButton" />
						<f:selectItem itemLabel="Option 2" itemValue="moreThanButton" />
						<f:selectItem itemLabel="Option 3" itemValue="betweenButton" />
						<f:selectItem itemLabel="Option 4" itemValue="rangeButton" />
					</p:selectOneRadio>
					<h:panelGrid columns="1">
						<h:panelGrid columns="5">
							<p:radioButton for="customRadio_#{filter.filterName}" itemIndex="0" />
							<p:outputLabel value="Within the last" />
							<p:inputText id="within_#{filter.filterName}"
								value="#{filter.withinVal}" maxlength="4">
								<f:validateLength minimum="1" maximum="2" />
							</p:inputText>
							<p:message for="within_#{filter.filterName}" />
							<p:selectOneMenu value="#{filter.withinChoice}">
								<f:selectItem itemLabel="days" itemValue="days" />
								<f:selectItem itemLabel="weeks" itemValue="weeks" />
								<f:selectItem itemLabel="months" itemValue="months" />
								<f:selectItem itemLabel="years" itemValue="years" />
							</p:selectOneMenu>
						</h:panelGrid>
						<h:panelGrid columns="6">
							<p:radioButton for="customRadio_#{filter.filterName}" itemIndex="1" />
							<p:outputLabel value="More than" />
							<p:inputText id="moreThan_#{filter.filterName}"
								value="#{filter.moreThanVal}" maxlength="4">
								<f:validateLength minimum="1" maximum="2" />
							</p:inputText>
							<p:message for="moreThan_#{filter.filterName}" />
							<p:selectOneMenu value="#{filter.moreThanChoice}">
								<f:selectItem itemLabel="seconds" itemValue="seconds" />
								<f:selectItem itemLabel="minutes" itemValue="minutes" />
								<f:selectItem itemLabel="hours" itemValue="hours" />
							</p:selectOneMenu>
							<p:outputLabel value="ago" />
						</h:panelGrid>
						<h:panelGrid columns="5">
							<p:radioButton for="customRadio_#{filter.filterName}" itemIndex="2" />
							<p:outputLabel value="Between" />
							<p:calendar value="#{filter.startDate}" showOn="button" />
							<p:outputLabel value="and" />
							<p:calendar value="#{filter.endDate}" showOn="button" />
						</h:panelGrid>
						<h:panelGrid columns="7">
							<p:radioButton for="customRadio_#{filter.filterName}" itemIndex="3" />
							<p:outputLabel value="In range" />
							<p:inputText id="startRange_#{filter.filterName}"
								value="#{filter.startRange}" maxlength="5">
								<f:validateRegex pattern="^-[0-9]w[0-9]d$" />
							</p:inputText>
							<p:message for="startRange_#{filter.filterName}" />
							<p:outputLabel value="to" />
							<p:inputText id="endRange_#{filter.filterName}"
								value="#{filter.endRange}" maxlength="4">
								<f:validateRegex pattern="^[0-9]w[0-9]d$" />
							</p:inputText>
							<p:message for="endRange_#{filter.filterName}" />
						</h:panelGrid>
						<h:panelGrid columns="2">
							<p:commandButton partialSubmit="false" value="Update"
								action="#{filterController.submitDate()}" update="filterNameValue"
								validateClient="true" style="margin-right:10px">
								<f:setPropertyActionListener
									target="#{filterController.dateFilterName}"
									value="#{filter.filterName}" />
							</p:commandButton>
							<p:commandButton value="Close"
								onclick="dlg_#{filter.filterName}.hide();" />
						</h:panelGrid>
					</h:panelGrid>
				</p:dialog>
			</c:forEach>
			<p:outputPanel id="hiddenDialogPanel">
				<c:forEach var="filter"
					items="#{filterController.moreDateFilters}">
					<p:dialog id="dialog_#{filter.filterName}"
						widgetVar="dlg_#{filter.filterName}" resizable="false"
						header="#{filter.filterName} Filter Definition" modal="true">
						<p:messages autoUpdate="true" />
						<p:selectOneRadio id="customRadio_#{filter.filterName}"
							value="#{filter.choice}" layout="custom">
							<f:selectItem itemLabel="Option 1" itemValue="withinButton" />
							<f:selectItem itemLabel="Option 2" itemValue="moreThanButton" />
							<f:selectItem itemLabel="Option 3" itemValue="betweenButton" />
							<f:selectItem itemLabel="Option 4" itemValue="rangeButton" />
						</p:selectOneRadio>
						<h:panelGrid columns="1">
							<h:panelGrid columns="5">
								<p:radioButton for="customRadio_#{filter.filterName}" itemIndex="0" />
								<p:outputLabel value="Within the last" />
								<p:inputText id="within_#{filter.filterName}"
									value="#{filter.withinVal}" maxlength="4">
									<f:validateLength minimum="1" maximum="2" />
								</p:inputText>
								<p:message for="within_#{filter.filterName}" />
								<p:selectOneMenu value="#{filter.withinChoice}">
									<f:selectItem itemLabel="days" itemValue="days" />
									<f:selectItem itemLabel="weeks" itemValue="weeks" />
									<f:selectItem itemLabel="months" itemValue="months" />
									<f:selectItem itemLabel="years" itemValue="years" />
								</p:selectOneMenu>
							</h:panelGrid>
							<h:panelGrid columns="6">
								<p:radioButton for="customRadio_#{filter.filterName}" itemIndex="1" />
								<p:outputLabel value="More than" />
								<p:inputText id="moreThan_#{filter.filterName}"
									value="#{filter.moreThanVal}" maxlength="4">
									<f:validateLength minimum="1" maximum="2" />
								</p:inputText>
								<p:message for="moreThan_#{filter.filterName}" />
								<p:selectOneMenu value="#{filter.moreThanChoice}">
									<f:selectItem itemLabel="seconds" itemValue="seconds" />
									<f:selectItem itemLabel="minutes" itemValue="minutes" />
									<f:selectItem itemLabel="hours" itemValue="hours" />
								</p:selectOneMenu>
								<p:outputLabel value="ago" />
							</h:panelGrid>
							<h:panelGrid columns="5">
								<p:radioButton for="customRadio_#{filter.filterName}" itemIndex="2" />
								<p:outputLabel value="Between" />
								<p:calendar value="#{filter.startDate}" showOn="button" />
								<p:outputLabel value="and" />
								<p:calendar value="#{filter.endDate}" showOn="button" />
							</h:panelGrid>
							<h:panelGrid columns="7">
								<p:radioButton for="customRadio_#{filter.filterName}" itemIndex="3" />
								<p:outputLabel value="In range" />
								<p:inputText id="startRange_#{filter.filterName}"
									value="#{filter.startRange}" maxlength="5">
									<f:validateRegex pattern="^-[0-9]w[0-9]d$" />
								</p:inputText>
								<p:message for="startRange_#{filter.filterName}" />
								<p:outputLabel value="to" />
								<p:inputText id="endRange_#{filter.filterName}"
									value="#{filter.endRange}" maxlength="4">
									<f:validateRegex pattern="^[0-9]w[0-9]d$" />
								</p:inputText>
								<p:message for="endRange_#{filter.filterName}" />
							</h:panelGrid>
							<h:panelGrid columns="2">
								<p:commandButton partialSubmit="false" value="Update"
									action="#{filterController.submitDate()}" update="filterNameValue"
									validateClient="true" style="margin-right:10px">
									<f:setPropertyActionListener
										target="#{filterController.dateFilterName}"
										value="#{filter.filterName}" />
								</p:commandButton>
								<p:commandButton value="Close"
									onclick="dlg_#{filter.filterName}.hide();" />
							</h:panelGrid>
						</h:panelGrid>
					</p:dialog>
				</c:forEach>
			</p:outputPanel>
			<h:inputTextarea id="filterNameValue" cols="300" rows="10"
				value="#{filterController.filterState}" />
			<h:inputHidden id="filterConfigSessionAttr" value="#{filterController.sessionAttrName}"/>
		</h:form>
	</composite:implementation>
</html>
