<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:fipecafi="http://java.sun.com/jsf/composite/fipecafi"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
		Composite Component
	</h:head>
	<h:body>
		<c:set scope="request" var="configFilePath" value="C:/Apps/Apache Software Foundation/apache-tomcat-7.0.42/webapps/filtercomponent/WEB-INF/filter.xml"></c:set>
		<fipecafi:filterConfig/>
	</h:body>
</html>	